
<!--input type="button" (click)="llamaService()" class="btn btn-info" value="Pulsame" > 
<input type="button" (click)="llamaServicePromesa()" class="btn btn-info" value="Pulsame Promesa" --> 

<!-- Centered Pills -->
<div class="card border-0">
  <div class="card-heading">
    <app-cabecera>  </app-cabecera>
    <div class="text-center">
      <h1>Lista de Resultados</h1>
      <!--div class="btn btn-group">
        <button class="btn btn-info" (click)="llamaService()">Agilidad Aritmética</button>
        <button class="btn btn-info" (click)="llamaServicePromesa()">Adivina el Número</button>
        <button class="btn btn-info" (click)="llamaServicePromesa()">Tateti</button>
      </div-->
    </div>
  </div>
  <div class="card-body">
    <app-listado-de-resultados [listado]="listadoParaCompartir"> </app-listado-de-resultados>
  </div>
</div>

  


