<div class="card border-0">
  <div class="card-heading">
    <app-cabecera>  </app-cabecera>
    <div class="text-center">
      <h1>Lista de Resultados</h1>
      <div class="btn btn-group">
        <button class="btn btn-info" (click)="TraerTodos()">Todos los jugadores</button>
        <button class="btn btn-info" (click)="TraerGanadores()">Los ganadores</button>
        <button class="btn btn-info" (click)="TraerPerdedores()">Los perdedores</button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th>usuario</th>
          <th>cuit</th>
          <th>sexo</th>
          <th>gano</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let jugador of listado" >
          <td>{{jugador.usuario}} </td>
          <td>{{jugador.cuit}} </td> 
          <td>{{jugador.sexo | sexo| uppercase}} </td> 
          <td>{{jugador.gano}} </td> 
          
        </tr>
       
      </tbody>
    </table>
  </div>
</div>
