<div class="container" >
  <!--div class="row">
    <div class="col">
    <div class="card">
      <img class="img-thumbnail"   src="./assets/imagenes/cerebro.jpg" alt="Avatar" style="width:100%">
      <h1>Velocidad y agilidad aritmética </h1>
      <p class="title">Juego de agilidad mental</p>
      <p>UTN FRA </p>
  
      <a href="#"><i class="fa fa-dribbble"></i></a> 
      <a href="#"><i class="fa fa-twitter"></i></a> 
      <a href="#"><i class="fa fa-linkedin"></i></a> 
      <a href="#"><i class="fa fa-facebook"></i></a> 
      <p>           <button class="button"  (click)="Juego('Agilidad')">Jugar</button></p>
    
    </div>
  
    <div class="card">
      <img class="img-thumbnail" src="./assets/imagenes/ppt.jpg" alt="Avatar" style="width:100%">
      <h1>Piedra Papel o Tijera</h1>
      <p class="title">Juega contra la máquina</p>
      <p>UTN FRA </p>
      
      <a href="#"><i class="fa fa-dribbble"></i></a> 
      <a href="#"><i class="fa fa-twitter"></i></a> 
      <a href="#"><i class="fa fa-linkedin"></i></a> 
      <a href="#"><i class="fa fa-facebook"></i></a> 
      <p>           <button class="button"  (click)="Juego('PPT')">Jugar</button></p>
    </div>
    <div class="card">
      <img  class="img-thumbnail"  src="./assets/imagenes/adivina.png" alt="Avatar" style="width:100%">
      <h1>Adivina el número secreto</h1>
      <p class="title">Juega de estrategia</p>
      <p>UTN FRA </p>
      
      <a href="#"><i class="fa fa-dribbble"></i></a> 
      <a href="#"><i class="fa fa-twitter"></i></a> 
      <a href="#"><i class="fa fa-linkedin"></i></a> 
      <a href="#"><i class="fa fa-facebook"></i></a> 
      <p>           <button class="button"  (click)="Juego('Adivina')">Jugar</button></p>
    </div>
    </div>
  </div-->
    <div class="row">
      <div class="col">
        <div class="list-group">
          <div href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5>Velocidad y agilidad aritmética </h5>
              <small></small>
            </div>
            <div class="row">
              <div class="col-sm-9">
                <p class="title">Juego de agilidad mental</p>
                <p>UTN FRA </p>
                  <div class="btn btn-group shadow-md"> 
                    <a href="#" class="btn btn-primary"><i class="fa fa-dribbble"></i></a> 
                    <a href="#" class="btn btn-primary"><i class="fa fa-twitter"></i></a> 
                    <a href="#" class="btn btn-primary"><i class="fa fa-linkedin"></i></a> 
                    <a href="#" class="btn btn-primary"><i class="fa fa-facebook"></i></a> 
                  </div>
                  <button class="btn btn-success"  (click)="Juego('Agilidad')">Jugar </button>
              </div>
              <div class="col-sm-3"><img class="img-thumbnail rounded float-right"   alt="Responsive image"  src="./assets/imagenes/cerebro.jpg" alt="Avatar" ></div>
            </div>
          </div>
          <div class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Piedra Papel o Tijera</h5>
              <small class="text-muted"></small>
            </div>
            <div class="row">
              <div class="col-sm-9">
                <p class="title">Juega contra la máquina</p>
                <p>UTN FRA </p>
                  <div class="btn btn-group shadow-md "> 
                    <a href="#" class="btn btn-primary"><i class="fa fa-dribbble"></i></a> 
                    <a href="#" class="btn btn-primary"><i class="fa fa-twitter"></i></a> 
                    <a href="#" class="btn btn-primary"><i class="fa fa-linkedin"></i></a> 
                    <a href="#" class="btn btn-primary"><i class="fa fa-facebook"></i></a> 
                  </div>
                  <button class="btn btn-success"  (click)="Juego('PPT')">Jugar </button>
              </div>
              <div class="col-sm-3"><img class="img-thumbnail rounded float-right"   alt="Responsive image"  src="./assets/imagenes/ppt.jpg" alt="Avatar" ></div>
            </div>
          </div>
          <div class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Adivina el número secreto</h5>
              <small class="text-muted"></small>
            </div>
            <div class="row">
              <div class="col-sm-9">
                <p class="title">Juega de estrategia</p>
                <p>UTN FRA </p>
                  <div class="btn btn-group shadow-md"> 
                    <a href="#" class="btn btn-primary"><i class="fa fa-dribbble"></i></a> 
                    <a href="#" class="btn btn-primary"><i class="fa fa-twitter"></i></a> 
                    <a href="#" class="btn btn-primary"><i class="fa fa-linkedin"></i></a> 
                    <a href="#" class="btn btn-primary"><i class="fa fa-facebook"></i></a> 
                  </div>
                  <button class="btn btn-success"  (click)="Juego('Adivina')">Jugar </button>
              </div>
              <div class="col-sm-3"><img class="img-thumbnail rounded float-right"   alt="Responsive image"  src="./assets/imagenes/adivina.png" alt="Avatar" ></div>
            </div>
          </div>
          <div class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Tateti</h5>
              <small class="text-muted"></small>
            </div>
            <div class="row">
              <div class="col-sm-9">
                <p class="title">Juego de 1 vs 1</p>
                <p>UTN FRA </p>
                  <div class="btn btn-group shadow-md"> 
                    <a href="#" class="btn btn-primary"><i class="fa fa-dribbble"></i></a> 
                    <a href="#" class="btn btn-primary"><i class="fa fa-twitter"></i></a> 
                    <a href="#" class="btn btn-primary"><i class="fa fa-linkedin"></i></a> 
                    <a href="#" class="btn btn-primary"><i class="fa fa-facebook"></i></a> 
                  </div>
                  <button class="btn btn-success"  (click)="Juego('Tateti')">Jugar </button>
              </div>
              <div class="col-sm-3"><img class="img-thumbnail rounded float-right"   alt="Responsive image"  src="./assets/imagenes/tateti.png" alt="Avatar" ></div>
            </div>
          </div>
         
        </div>
      </div>
    </div>
    
  </div>

  