<body>
  
  <div id="id01" class="modal">
    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
    <form class="modal-content animate" >
      <div class="container">
        <label><b>Email</b></label>
        <input class="form-control shadow-sm" type="text" placeholder="Ingresa tu correo" name="email" required>
  
        <label><b>Clave</b></label>
        <input class="form-control shadow-sm" type="password" placeholder="Clave" name="psw" required>
  
        <label><b>Repita la clave</b></label>
        <input class="form-control shadow-sm" type="password" placeholder="Confirmar Clave" name="psw-repeat" required>
        <input type="checkbox" checked="checked"> Recordar mis datos
        <p>Crear Cuenta <a  class="link" onclick="document.getElementById('id01').style.display='none'"  >Terminos y condiciones</a>.</p>
  
        <div class="btn btn-group">
          <button type="button" onclick="document.getElementById('id01').style.display='none'" class="btn btn-danger">Me arrepenti</button>
          <button type="submit" class="btn btn-success">Registrarme</button>
        </div>
      </div>
    </form>
  </div>
  
  <script>
  // Get the modal
  var modal = document.getElementById('id01');
  
  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = "none";
      }
  }
  </script>
  
  </body>
  <div class="card border-0">
    <div class="card-heading">
    <app-cabecera>  </app-cabecera>
    </div>
    <div class="card-body h-100">
      <div class="container d-flex justify-content-center h-100" >
        <div class="row">
          <div class="col">
            <div class="jumbotron">
              <h2 id="terminos">Terminos y condiciones</h2>
              <p>El Gobierno de la República Argentina (en adelante el “Gobierno Nacional”) no es responsable por los daños y perjuicios que puedan surgir, incluyendo, sin límite, daños, pérdidas o gastos directos, indirectos, que surjan en relación con el uso de los Activos Digitales o la imposibilidad de uso, en relación con cualquier falla en el vencimiento, error, omisión, interrupción, defecto, demora en la operación o transmisión, virus de computadora o falla del sistema de línea, aún en el caso de que el Gobierno Nacional o sus representantes fueran informados sobre la posibilidad de dichos daños, pérdidas o gastos.</p>
              <p>El Gobierno Nacional no controla ni garantiza la ausencia de virus ni de otros elementos en los contenidos que puedan producir alteraciones en su sistema informático (software y hardware) o en los documentos electrónicos y ficheros almacenados en su sistema informático.</p>
              <p>El Gobierno Nacional no puede garantizar que la transmisión de información por parte de los Usuarios sea completamente segura. El Usuario asume este riesgo.</p>
             
            </div>
      
            <strong><p>No leer lo anterior, es solo un ejemplo sacado de https://www.argentina.gob.ar/terminos-y-condiciones </p></strong>
            <div class="btn btn-group rounded w-100">
              <button onclick="document.getElementById('id01').style.display='block'" class="btn btn-success" >Acepto</button>
              <button  class="btn btn-danger"  routerLink="/Principal" >No acepto</button>
            </div>
         </div>
      </div>
      </div>
    </div>
  </div>