<!--The content below is only a placeholder and can be replaced.-->
<!--app-menu></app-menu-->
<!-- index.html -->

<div class="container mt-5">
  <div class="row mb-5">
    <div class="col d-flex justify-content-center">
        <h2><u>Agilidad Aritmética</u></h2>
    </div>
  </div>   
  <div class="row">
    <div class="col d-flex justify-content-center">
      <div class="input-group w-50" style="min-height: 100px;">
        <div class="input-group-prepend">
          <div class="input-group-text" style="min-width: 120px;">
            <h1 class="m-0">{{primerNumero}} {{operador}} {{segundoNumero}}</h1>
          </div>
        </div>
        <input [(ngModel)]="nuevoJuego.numeroIngresado" placeholder="Ingrese numero" name="numeroIngresado" type="text" class="form-control" size='20'  style="height: auto;font-size: 36px;" />
        <div class="input-group-append">
          <button [hidden]="ocultarVerificar"  class="btn btn-success btn-lg">Verificar {{Tiempo}} </button>
          <button  [hidden]="!ocultarVerificar" (click)="NuevoJuego()"  class="btn btn-info btn-lg">Nuevo</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col d-flex justify-content-center mt-3" [hidden]="empieza">
        <h2 [hidden]="!esperaNumero"><p><i class="fa fa-spinner fa-spin"></i>Esperando numero...</p></h2>
    </div>
  </div>
  <div class="row">
    <div class="col d-flex justify-content-center" [hidden]="empieza">
        <h3 [hidden]="!nuevoJuego.gano" class="text-success">Correcto</h3>
        <h3 [hidden]="nuevoJuego.gano" class="text-danger">Incorrecto</h3>
    </div>
  </div>
</div>
